$text-color: #fff;
$navbar-default-link-color: #fff;
$navbar-default-bg: rgba(#BAC7D1, 0.5); 
$font-family-base: "Salesforce Sans" "Arial";
$font-size-base: 16px;
$font-size-h1: 48px;
$navbar-default-link-hover-color: #0070D2;
$title-bg: rgba(#919191, 0.3);
$footer-bg-color: #CECECE;
$footer-dark-color: #919191;